.navbar {
  height: 100px;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid #cfcfcf;
}

.logo {
  font-family: "Tac One", sans-serif;
  font-size: 48px;
  color: #058374;
}

.menu {
  display: flex;
  gap: 32px;
  align-items: center;
}

.menu span {
  font-family: "JetBrains Mono", monospace;
  font-weight: 700;
  cursor: pointer;
}

.menu button {
  background: #0a0a0a;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

:root {
  --black: #0A0A0A;
  --green: #058374;
  --grey: #454545;
  --light-grey: #A1A1A1;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  color: var(--grey);
  background: white;
}